/*
-----------------------------------------------------------------------
	Service CSS
-----------------------------------------------------------------------
*/

.service-category {
  .category-item {
    border-bottom: 1px solid rgba($white, 0.5);
    padding-bottom: 26px;
    position: relative;
    h4 {
      color: $color-dark;
      font-size: 24px;
      margin-bottom: 1px;
      text-transform: uppercase;
      @media #{$md-device} {
      }
      @media #{$sm-device} {
        font-size: 20px;
        font-weight: $font-weight-semi-bold;
        margin-bottom: 3px;
      }
    }
    p {
      color: $color-dark;
    }
    .icon {
      color: $color-dark;
      font-size: 48px;
      position: absolute;
      right: 0;
      top: -21px;
      @media #{$md-device} {
      }
      @media #{$sm-device} {
      }
      @media #{$xxs-device} {
      }
    }
  }
}

