/*
-----------------------------------------------------------------------
	Feature CSS
-----------------------------------------------------------------------
*/
.feature-section {
  .container {
    z-index: 3;
    position: relative;
  }
  padding: 125px 0px;
  position: relative;
  @media (max-width: 1199px) {
    padding-top: 0px;
  }


  @media (max-width: 767px) {
    padding-bottom: 80px;
  }


  .section-title {
    margin-bottom: 100px;
    @media #{$lg-device} {
      margin-bottom: 70px;
    }
    @media #{$sm-device} {
      margin-bottom: 60px;
    }
    @media #{$xs-device} {
      margin-bottom: 50px;
    }
  }
  .thumb {
    bottom: 0;
    right: 0;
    position: absolute;

    z-index: 1;
    @media #{$lg-device} {
      display: none;
    }
  }
}
