.header {
  background: #8f1b1b;
}

// header top

.header-top {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #9d3a3a;
  p {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    color: $white;
    font-size: 14px;
    span {
      font-weight: 700;
    }
    i {
      margin-right: 20px;
    }
  }
}

.social-links {
  li {
    display: inline-block;
    & + li {
      margin-left: 20px;
    }
    a {
      font-size: 16px;
      color: $white;
    }
  }
}

// header-middle-content
// media css

.header-middle {
  padding-top: 15px;
  padding-bottom: 15px;
}
.media-wrap {
  display: flex;
  flex-wrap: wrap;
}
.media {
  display: flex;
  span {
    align-self: center;
  }
}

.media-content {
  flex: 1;
}

.header-middle-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.media-list {
  & + .media-list {
    margin-left: 50px;
  }
}
.media-icon {
  color: #fff;
  font-size: 24px;
  margin-right: 20px;
}
.media-sub-heading {
  font-family: "Sarabun", sans-serif;
  color: #cccccc;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.media-heading {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
}

.book-now-btn {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 30px;
  background: #6d0101;
  display: inline-block;
  border: 1px solid transparent;
  &:hover {
    border-color: #fff;
    color: #fff;
  }
}
